{% extends 'base_layout.html' %}

<body>
    {% block content %} 
    
        <h1>Estoque</h1>
        <div class='select-produto'>
            <label for='Produto'>Escolha o alimento:</label>
            <select name='Produto' id='Produto'>
                <option value='abacaxi'>Abacaxi</option>
                <option value='Maçã'>Maçã</option>
            </select>
        </div>
        <div class='select-setor'>
            <label for='Setor'>Escolha o Setor:</label>
            <select name='Setor' id='Setor'>
                <option value='Almoxarifado Central'>Almoxarifado Central</option>
                <option value='Escola'>Escola</option>
            </select>
        </div>
        <div>
            <table class='table'>
                <thread>
                    <tr>
                        <th class='col'>id</th>
                        <th class='col'>Produto</th>
                        <th class='col'>Setor</th>
                        <th class='col'>Quantidade</th>
                    </tr>
                </thread>
                <tbody>
                    {% for estoque in estoques %}
                        <tr>
                            <th scope='row'>{{ estoque.id }}</th>
                            <td>{{ estoque.alimentos.nome }}</td>
                            <td>{{ estoque.escolas.nome }}</td>
                            <td>{{ estoque.quantidade }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href='/entrada_produtos'><button type='button' class='btn btn-success btn-novo-item'>Novo Movimento</button></a>
        </div>
    {% endblock %}
</body>