{% extends 'base_layout.html' %}
    <body>
        {% block content %}
            <h1>{{ nome }}</h1>
            <form method="POST">
                {{ form.csrf_token }}
                <div class='form-group'>
                    {{ form.alimento_select.label }}
                    <div>
                        {{ form.alimento_select(class_="form-control") }}
                    </div>
                </div>
                <div class='form-group'>
                    {{ form.quantidade_select.label }}
                    {{ form.quantidade_select(class_="form-control")}}
                </div>
                <input type="submit" value="Submit">
            </form>
            <table class="table">
                <thread>
                    <tr>
                        <th class='col'>Nome</th>
                        <th class='col'>Quantidade</th>
                    </tr>
                </thread>
                <tbody>      
                    {% for alimento in todos_alimentos %}
                        <tr>
                            <th>{{ alimento.nome }} </th>
                            <th>{{ alimento.alimentos_id }}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{{ url_for('pratos') }}"><button class="btn btn-success voltar">Voltar</button></a>
        {% endblock %}
    </body>
